@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-dark-sea bg-background;
}

a {
  text-decoration: underline;
}

@keyframes shine {
  to {
    background-position-x: -20%;
  }
}
