@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #ffffff;
  --black: #000000;
  --dark-sea-storm: #001B20;
  --sea-storm: #001E24;
  --dark-sea: #004554;
  --sea: #005669;
  --azure: #00B3DB;
  --muted-azure: #324C52;
  --dark-gray: #D3D9DA;
  --bluish-gray: #D4E1E4;
  --gray: #ECF0F2;
  --background: #F9FBFB;
}

body {
  color: var(--dark-sea);
  background: var(--background);
}

a {
  text-decoration: underline;
}
